.container {
    background-color: rgb(248, 248, 248);    
    width: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.recipe-list {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#odin-title {
    color: gold;
    background-color: black;
    padding: 10px;
    text-align: center;
}

body {
    background-color: bisque;
}

.title-lasagna {
    color: crimson;
}

.title-chocolate-cake {
    color: maroon;
}

.title-chocolate-ice-cream {
    color: tomato
}

h2 {
    color: brown;
}

ol {
    font-weight: bold;
}

p {
    font-family: Impact, sans-serif;
    font-weight: bold;
}